.loginForm{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(35px);
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.2);
}
.loginBody{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/src/assets/cartBg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginForm h2{
    margin-top: 30px;
    padding: 30px;
}
.loginForm label{
    padding: 15px 20px;
    font-size: 15px;
}
.loginForm input{
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    width: 250px;
    padding: 0 10px;
}
.loginForm a{
    text-decoration: none;
    margin: 10px;
    color: white;
    text-align: center;
    align-items: center;
    font-size:12px;
    transition: .3s ease;
}
.loginForm a:hover{
    color: rgb(98, 168, 253);
    
}
.loginForm button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    transition: 0.5s ease;
}
.loginForm button:hover{
    background-color:rgb(98, 168, 253) ;
}